.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__window{
    width: 500px;
    height: 700px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    border: 10px double black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 120px 1fr;
}